html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #61dafb;
}
html .todo-container {
  display: flex;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
* {
  box-sizing: border-box;
}
.todo-box {
  display: flex;
  background-color: #ffffff;
  padding: 20px 10px;
  max-width: 100%;
  min-height: 400px;
  text-align: center;
}
@media (min-width: 400px) {
  .todo-box {
    display: inline-block;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}


h1 {
  text-align: center;
  font-weight: 500;
  color: grey;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  margin-bottom: 40px;
}
#main {
  width:600px;
  margin: 0 auto;
  text-align: left;
}
li {
  text-align: -webkit-match-parent;
}
ul {
  list-style: none;
}
ul > li:hover {
  background-color: #f5f5f5;
}
.form-inline .form-control {
  width: 100%;
  max-width: 600px;
  padding: 16px;
  margin-top:20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  display: flex;
  border: none;
  font-size: 14px;
  font-weight: 300;
}
.done {
  color:rgb(241, 104, 113);
  text-decoration: line-through;
}
.undone {
  color: rgb(101, 135, 238);
}
.icon {
  margin: 6px 10px 6px 0;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.done {
  color:rgb(241, 104, 113);
  text-decoration: line-through;
}
.glyphicon-ok:before {
  content: "\e013";
}

.add-button {
  width: 100px;
  background-color: #D8CECA;
  border-radius: 28px;
  border: 1px solid #D8CECA;
  cursor: pointer;
  color:black;
  font-size: 14px;
  padding: 8px 8px;
  text-transform: uppercase;
  text-decoration: none;
  margin:20px;
}
.add-button:hover {
  background-color: #F2F89B;
}